/* font-family: 'Righteous', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: 'Poiret One',cursive; */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
/*for header*/
header {
    color: #443742;
    text-align: center;
    margin-bottom: 3em;
    font-size: 20px;
    font-family: 'Righteous', cursive;
}


#mainContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#rules, #controls {
    background-color: #D8B7AB;
    color: #443742;
    width: 47%;
    border: 8px dotted #443742;
    border-radius: 3px;
    font-family: 'Poiret One', cursive;
}
.topBoxHead{
    text-decoration: underline;
    text-align: center;
}
#rules p , #controls p{
    text-align: center;
    font-size: 20px;
}
/*Buttons for choosing character, will be taken out barring any complictions*/

/*for game window*/
/*for footer*/
footer{
    background-color: #D8B7AB;
    border: 4px dotted #443742;
    border-radius: 3px;
    display: block;
    font-family: 'Poiret One', cursive;
    padding-left: 1em;
}
footer h3 {
    font-size: 25px;
    text-decoration: underline;
}
.credits {
    font-size: 20px;
    text-decoration: underline;
}
