/* font-family: 'Righteous', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: 'Poiret One',cursive; */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body {
    background-image: url('assets/ground-1.png.png');
}
#startWindow{
    z-index: 2;
    position: absolute;
    font-family: 'Righteous', cursive;
    width: 90%;
    height: 80%;
    background-color: #97B1A6;
    border: 5px dotted #443742;
    padding: 2em;
    margin: 2em;
    justify-content: center;
}
#startWindow h3, #startWindow h1{
    font-size: 30px;
}
#startWindow p{
    font-family: 'Poiret One', cursive;
    font-size: 25px;
}

#startWindow button{
    width: 12%;
    height:12%;
    background-color: aliceblue;
}
/*All other css for site has been added through js*/
